# Ignore object files and compiled binaries
*.o
filesystem

# Ignore editor-specific files
*.swp
*.swo
*~
.DS_Store

# Ignore build artifacts
/build/
*.log

# Ignore temporary files
*.tmp
*.bak

# Ignore compiled Rust files
c2rust/target/
**/neo4j-data/